@tailwind base;
@tailwind components;
@tailwind utilities;

/* inconsolata-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 200;
  src: url("../src/fonts/inconsolata-v31-latin/inconsolata-v31-latin-200.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inconsolata-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 300;
  src: url("../src/fonts/inconsolata-v31-latin/inconsolata-v31-latin-300.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inconsolata-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: url("../src/fonts/inconsolata-v31-latin/inconsolata-v31-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inconsolata-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 500;
  src: url("../src/fonts/inconsolata-v31-latin/inconsolata-v31-latin-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inconsolata-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 800;
  src: url("../src/fonts/inconsolata-v31-latin/inconsolata-v31-latin-800.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: "Cabinet Grotesk";
  font-weight: 800;
  src: url("/src/fonts/CabinetGrotesk-Black.otf");
}
@font-face {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  src: url("/src/fonts/CabinetGrotesk-Extrabold.otf");
}
@font-face {
  font-family: "Cabinet Grotesk";
  font-weight: 600;
  src: url("/src/fonts/CabinetGrotesk-Bold.otf");
}

@font-face {
  font-family: "Cabinet Grotesk";
  font-weight: 500;
  src: url("/src/fonts/CabinetGrotesk-Regular.otf");
}
@font-face {
  font-family: "Cabinet Grotesk";
  font-weight: 400;
  src: url("/src/fonts/CabinetGrotesk-Light.otf");
}
@font-face {
  font-family: "Cabinet Grotesk";
  font-weight: 300;
  src: url("/src/fonts/CabinetGrotesk-Medium.otf");
}
@font-face {
  font-family: "Cabinet Grotesk";
  font-weight: 200;
  src: url("/src/fonts/CabinetGrotesk-Extralight.otf");
}

@font-face {
  font-family: "Cabinet Grotesk";
  font-weight: 100;
  src: url("/src/fonts/CabinetGrotesk-Thin.otf");
}

.pg {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
}
.pgsemibold {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
}
.servtitle {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 5.5rem;
  line-height: 1.1;
  color: #333;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.small {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1;
  color: #333;
}

.bigtitle {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1.1;
}

.headdescription {
  font-family: "Inconsolata", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.1;
}

.name {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

.navbarname {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 200;
  font-size: 1.1rem;
}
.navbar {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}
.smallbold {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.prtitle {
  color: #303030;
  font-size: 3.125rem;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
}
.heading3 {
  color: #303030;
  text-align: left;
  font-weight: 400;
  font-family: "Cabinet Grotesk", sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  line-height: 1.2;
}

.description {
  color: #303030;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Cabinet Grotesk", sans-serif;
}

.drop-shadow {
  --tw-drop-shadow: drop-shadow(0 25px 25px rgb(0 0 0 / 0.25));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.descriptionbtn {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Cabinet Grotesk", sans-serif;
}
.descriptionbold {
  font-size: 1.25rem;
  font-weight: 300;
  font-family: "Cabinet Grotesk", sans-serif;
}

.semismall {
  color: #303030;
  font-size: 1.25rem;
  font-family: "Inconsolata", sans-serif;
  font-weight: 300;
}

.bgcolor {
  background: rgb(192, 180, 183);
  background: radial-gradient(
    circle,
    rgba(192, 180, 183, 1) 6%,
    rgba(64, 84, 247, 1) 31%,
    rgb(64, 84, 247) 100%
  );
}

.bgpic {
  background: #ececec;
}

#root {
  margin: 0;
  padding: 0;
}

.mobilnavbar {
  font-family: "Akshar", sans-serif;
  font-size: 3.25rem;
  line-height: 5.75rem;
  font-weight: 400;
}

span {
  display: block;
  width: 25px;
  height: 2px;
  background: black;
  transition: all 0.3s;
  position: relative;
}

@media (max-width: 768px) {
  .flex-col.md {
    display: none;
  }
  .image-container {
    flex: 1;
  }
  .description-container {
    flex: 1;
  }
  .button-container {
    flex: 1;
  }
}
.btn {
  position: absolute;
  top: 8%;
  left: 11%;
  transform: translate(-50%, -50%);
  width: 80px;
  cursor: pointer;
}
span + span {
  margin-top: 5px;
}

.active span:nth-child(1) {
  animation: ease 0.7s top forwards;
}

.not-active span:nth-child(1) {
  animation: ease 0.7s top-2 forwards;
}

.active span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}

.not-active span:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}

.active span:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}

.not-active span:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0px;
    transform: rotate(0);
  }
  50% {
    top: 0px;
    transform: rotate(0);
  }
  100% {
    top: 0px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 0px;
    transform: rotate(45deg);
  }
  50% {
    top: 0%;
    transform: rotate(0deg);
  }
  100% {
    top: 0px;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 10px;
    transform: rotate(0);
  }
  50% {
    bottom: 0px;
    transform: rotate(0);
  }
  100% {
    bottom: 15px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 0px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 0px;
    transform: rotate(0);
  }
  100% {
    bottom: 22px;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.curvibtn {
  width: 11rem;
  border: solid;
  padding: 1rem;
  background-color: white;
  border-width: 2px;
  border-radius: 0px 34px 0px 34px;
}
